src/blowfish/*.[oa]
src/unix/authsrv-auth
src/unix/authsrv-decrypt
src/unix/authsrv-raw-decrypt
src/unix/authsrv-delete
src/unix/authsrv-encrypt
src/unix/authsrv-raw-encrypt
src/unix/authsrv-list
src/unix/*.o
src/windows/*.exe
src/windows/*.o
