unix/authsrv-auth
unix/authsrv-decrypt
unix/authsrv-raw-decrypt
unix/authsrv-delete
unix/authsrv-encrypt
unix/authsrv-raw-encrypt
unix/authsrv-list
unix/*.o
windows/*.exe
windows/*.o
*.tar.gz
debian/authsrv.debhelper.log
debian/authsrv.substvars
debian/authsrv/
debian/files
debian/tmp/
